[user]
	name = {{ .git_user_name }}
	email = {{ .git_user_email }}
	signingKey = ~/.ssh/keys/github.pub

[init]
	defaultBranch = main

[core]
	ignoreCase = false

[commit]
	gpgSign = true

[gpg]
	format = ssh

[pull]
	ff = only

[rebase]
	autoStash = true

[fetch]
	prune = true
