[user]
	name = {{ .git_user_name }}
	email = {{ .git_user_email }}
	signingkey = ~/.ssh/keys/github.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[fetch]
	prune = true
[core]
	ignorecase = false
[init]
	defaultBranch = main
[pull]
	ff = only
[merge]
	ff = false
[rebase]
	autostash = true
