{{ $github_username := "" -}}
{{ $git_user_name := "" -}}
{{ $git_user_email := "" -}}

{{ if stdinIsATTY -}}
  {{ $github_username = promptStringOnce . "github_username" "Enter your GitHub.com username" -}}
  {{ $git_user_name = promptStringOnce . "git_user_name" "Enter your Git user.name" -}}
  {{ $git_user_email = promptStringOnce . "git_user_email" "Enter your Git user.email" -}}
{{ else -}}
  {{ $github_username = "github-actions[bot]" -}}
  {{ $git_user_name = "github-actions[bot]" -}}
  {{ $git_user_email = "41898282+github-actions[bot]@users.noreply.github.com" -}}
{{ end -}}

encryption = "age"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1qj0ul2m4gredc5y4rtw2cqtmqfqmlys49mkz4wfgf4rwxjlypgfs684ufq"

[data]
  github_username = {{ $github_username | quote }}
  git_user_name = {{ $git_user_name | quote }}
  git_user_email = {{ $git_user_email | quote }}
