#!/bin/zsh

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
  mkdir -p "${HOME}/.config/chezmoi"
  echo '[decrypt-private-key] 先に進むには、パスフレーズの入力が必要です。'
  chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi
