#!/bin/zsh

set -euo pipefail

{{ $brew_path := "" -}}
{{ if eq .chezmoi.arch "arm64" -}}
  {{ $brew_path = "/opt/homebrew/bin/brew" -}}
{{ else -}}
  {{ $brew_path = "/usr/local/bin/brew" -}}
{{ end -}}

if command -v {{ $brew_path }} &>/dev/null; then
  print -P "✅ %F{green}Homebrewは既にインストールされています。%f"
else
  print -P "🔄 %F{blue}Homebrewをインストールします...%f"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
