#!/bin/zsh

set -euo pipefail

if [[ ! -f "${HOME}/.config/chezmoi/key.txt" ]]; then
  mkdir -p "${HOME}/.config/chezmoi"
  print -P "⚠️ %F{yellow}先に進むにはパスフレーズの入力が必要です。%f"
  chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi
