#!/bin/zsh

# dot_Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

echo '[brew-bundle] 必要なパッケージをインストールします...'

brewfile="${HOME}/.Brewfile"

{{ if eq (env "CI") "true" -}}
export HOMEBREW_BUNDLE_BREW_SKIP="mas"
export HOMEBREW_BUNDLE_MAS_SKIP="$(cat "$brewfile" | grep '^mas ' | awk -F 'id: ' '{print $2}' | tr '\n' ' ')"
{{ end -}}

brew bundle --file="$brewfile" --force
brew bundle cleanup --file="$brewfile" --force
