#!/bin/zsh

# ssh-agent
ssh-add --apple-load-keychain ~/.ssh/keys/identity &>/dev/null || true

# Homebrew
{{ $brew_path := "" -}}
{{ if eq .chezmoi.arch "arm64" -}}
  {{ $brew_path = "/opt/homebrew/bin/brew" -}}
{{ else -}}
  {{ $brew_path = "/usr/local/bin/brew" -}}
{{ end -}}

if command -v {{ $brew_path }} &>/dev/null; then
  eval "$({{ $brew_path }} shellenv)"
fi

# OrbStack
source ~/.orbstack/shell/init.zsh 2>/dev/null || true
