name: Test

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test.yaml
      - home/**/*

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/test.yaml
      - home/**/*

concurrency:
  group: >-
    ${{ github.workflow }}-
    ${{ github.event.pull_request.head.repo.full_name || github.repository }}-
    ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.platform.runner }}
    timeout-minutes: 20
    permissions:
      contents: read
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-15-intel
          - runner: macos-15
    defaults:
      run:
        shell: zsh {0}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Set age secret key
        env:
          age_secret_key: ${{ secrets.AGE_SECRET_KEY }}
        run: |
          mkdir -p "${HOME}/.config/chezmoi"
          echo "$age_secret_key" | base64 -d > "${HOME}/.config/chezmoi/key.txt"
          chmod 600 "${HOME}/.config/chezmoi/key.txt"

      - name: Run chezmoi init
        env:
          source_dir: ${{ github.workspace }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init \
            --apply \
            --no-tty \
            --source="$source_dir"

      - name: Show installed tool versions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          brew list --versions
          mise list
